<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="Dependencies\NuGet" />
  </config>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="KSG Artwork" value="https://ci.appveyor.com/nuget/artwork-qco8xb426my7" />
  </packageSources>
  <!--
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <disabledPackageSources />
-->
</configuration>
