<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="Dependencies\NuGet" />
  </config>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="KSG Artwork" value="https://ci.appveyor.com/nuget/artwork-qco8xb426my7" />
  </packageSources>
</configuration>
